<div class="container">
    <div class="col-sm-12">
        <div class="row page-top"><h1>Code Samples</h1></div>
            <h5>Node.js Product create handler</h5>
            <pre><code>
exports.CreateProduct = function(req, res) {
	var publicIds = [];
	UploadImages(0);
	// Recursive method to upload an array of product images to the Cloudinary API
	function UploadImages(i) {
		if(i < req.body.Images.length) {
			cloudinary.v2.uploader.upload(req.body.Images[i], function(error, result) {
				if(error){
					console.log("Error uploading to cloudinary:\n", error);
					res.send("Error uploading to cloudinary:\n" + error);
				}else{
					publicIds.push(result.public_id);
					console.log("Public Ids Array: ", publicIds);
					UploadImages(i+1);
					if(i == req.body.Images.length-1) SaveProduct();
				}
			});	
		}
	}
	
	// After uploading all images to cloudinary, then we finally come and create an instance of the Product class 
	// and save it. 
	function SaveProduct() {
		var p = new Product();
		p.Title = req.body.Title;
		p.Category = req.body.Category;
		p.SmallPrice = req.body.SmallPrice;
		p.MedPrice = req.body.MedPrice;
		p.LargePrice = req.body.LargePrice;
		p.SelectedPrice = req.body.SelectedPrice;
		p.Description = req.body.Description;
		p.DefaultSize = req.body.DefaultSize;
		p.Images = publicIds;
		p.save(function(err, product) {
			if(err) {
				console.log("Error saving the new product:\n", err);
				res.send(err);
			}else {
				console.log(product);
				res.json(product);
			}
			
		});
	}
}

            </code></pre>
            <h5>C# Coding Challenge</h5>
            <pre><code>
/*
Write a method that returns the largest N numbers from a list of integers.
Please consider the performance and efficiency of your solution.
We have provided one simple test case to help you get started.
*/
using System;
using System.Collections;
class App
{
    static void Main(string[] args)
    {
        // I had to change some of the types to match them to function signature. 
        List<int> listOfIntegers = new List<int>(new int[] { 1, 2, 3, 54, 5, 6, 8, 7, 10, 1, 99 });
        Console.WriteLine(FindTopN(listOfIntegers, 5));
        Console.ReadLine();
    }
    // I would have loved make the max time complexity O(n) linear, but we are forced to sort the list which uses either an insertion sort,
    // heap sort or quicksort behind the scenes which on average will be O(n log n). 
    static private IEnumerable<int> FindTopN(List<int> list, int n)
    {
        IEnumerable<int> topNEnum;
        list.Sort();
        List<int> topN = list.GetRange(list.Count - n, n);
        topNEnum = topN;
        return topNEnum;
    }
}
            </code></pre>
            <h5>Angular Product service</h5>
            <pre><code>
function ProductService($http, $location, UserService){
	'use strict'
	var categories = [];
	var products = [];
	var detailedProduct = null;
	function ForceLogin(){
		alertify.notify("Login timed out, login again.", "error", 5);
		UserService.Logout();
		$location.path('/login');
	}
	var ServiceObject = {
		AddNewProduct: function(product, cb) {
			var self = this;
			var token = sessionStorage.getItem('Token');//deal with this later, sending the token...
			return $http.post('/api/products', product)
				.then(function(result){
					cb(result.data);
					self.AddCachedProducts(result.data);
				}, function(err){
					console.log("Error posting new product\n", err);
				});
		},
		GetAllProducts: function(cb) {
			var self = this;
			return $http.get('/api/products')
				.then(function(result) {
					cb(result.data);
					self.SetCachedProducts(result.data);
				}, function(err) {
					console.log("Error getting all products:\n", err);
				});
		},
		UpdateProduct: function(product, index, cb) {
			var self = this;
			return $http.put('/api/products/' + product._id, product)
				.then(function(result) {
					cb(result.data);
					self.UpdatedCachedProducts("Products", result.data, index);
				}, function(err) {
					console.log("Error updating the product:\n", err);
				});
		},
		DeleteProduct: function(id, index, cb) {
			var self = this;
			return $http.delete('/api/products/' + id)
				.then(function(result) {
					cb(result.data);
					products.splice(index, 1);
					self.SetCachedProducts(products);
				});
		},
		SetProductDetail: function(prod) {
			detailedProduct = prod;
			localStorage.setItem("Detailed", JSON.stringify(prod));
		},
		GetProductDetail: function(cb) {
			if(detailedProduct != undefined || detailedProduct != null) {
				cb(detailedProduct);
			}else if(!localStorage.Detailed) {
				cb(null);
			}else {
				var parsedDetailed = JSON.parse(localStorage.getItem("Detailed"));
				detailedProduct = parsedDetailed;
				cb(detailedProduct);
			} 
		},
		GetAllCategories: function(cb) {	
			var self = this;	
			return $http.get('/api/categories')
				.then(function(result){
					cb(result.data);
					self.SetCachedCategories("Categories", result.data);
				}, function(err){
					console.log(err);
				});
		},
		SetCachedProducts: function(value) {
			products = value;
			localStorage.setItem("Products", JSON.stringify(value));
		},
		UpdatedCachedProducts: function(key, value, index){
			products[index] = value;
			localStorage.setItem(key, JSON.stringify(products));
		},
		AddCachedProducts: function(product) {
			products.push(product);
			localStorage.setItem("Products", JSON.stringify(products));
		},
		GetCachedProducts: function(key) {
			if(products && products.length !== 0){
				return products;
			}else if(!localStorage.Products){
				return null;
			}else if(localStorage.Products){
				var parsedProducts = JSON.parse(localStorage.getItem(key));
				products = parsedProducts;
				return products;
			}
		},
		SetCachedCategories: function(key, value) {
			categories = value;
			sessionStorage.setItem(key, JSON.stringify(value));
		},
		AddCachedCategories: function(category) {
			categories.push(category);
			sessionStorage.setItem('Categories', JSON.stringify(categories));
		},
		UpdatedCachedCategories: function(key, value, index){
			categories[index] = value;
			sessionStorage.setItem(key, JSON.stringify(categories));
		},
		GetCachedCategories: function(key) {
			if(categories && categories.length !== 0){
				return categories;
			}else if(!sessionStorage.Categories){
				return null;
			}else if(sessionStorage.Categories){
				var parsedCategories = JSON.parse(sessionStorage.getItem(key));
				categories = parsedCategories;
				return categories;
			}
		},
		CreateNewCategory: function(category, cb) {
			var self = this;
			var token = sessionStorage.getItem('Token');
			return $http.post('/api/categories/' + token, category)
				.then(function(result){
					if(result.data.Error){
						ForceLogin();
					}else{
						self.AddCachedCategories(result.data); 
						cb(result.data);
					}
				}, function(err){
					console.log(err);
					ForceLogin();
				});
		},
		UpdateCategory: function(category, index, cb) { 
			var self = this;
			var token = sessionStorage.getItem('Token');
			return $http.put('/api/categories/' + category._id + '/' + token, category)
				.then(function(result){
					if(result.data.Error){
						ForceLogin();
					}else{
						self.UpdatedCachedCategories("Categories", result.data, index);
						cb(result.data);
					}
				}, function(err){
					console.log(err);
					ForceLogin();
				});
		},
		DeleteCategory: function(id, cb) {
			var token = sessionStorage.getItem('Token');
			return $http.delete('/api/categories/' + id + '/' + token)
				.then(function(result){
					if(result.data.Error){
						ForceLogin();
					}else{
						cb(result.data);
					}
				}, function(err){
					console.log(err);
					ForceLogin();
				});
		}
	}
	return ServiceObject;
};
ProductService.$inject = ['$http', '$location', 'UserService'];
app.factory('ProductService', ProductService);
                </code></pre>
        
    </div>
</div>