<div class="container">
  <div class="row"> 
    <div class="col-md-12">
<!--       <ul class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li><a href="category.html">Girls</a></li>
        <li>Burton Jacky Shirt</li>
      </ul> -->
      <div class="row page-top" style="margin-bottom: 0;">
        <div class="col-sm-6 col-sm-offset-3">
          <h1 class="product__heading">{{Detail.Product.Title}}</h1>
          <p class="text-muted">{{Detail.Product.Description}}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row"> -->
    <!-- <div class="col-md-12"> -->
      <div class="product__main">
        <div class="row">
          <div class="col-sm-9">
            <div class="mainImage"><img ng-src="http://res.cloudinary.com/dewoxdkgg/image/upload/{{Detail.Product.Images[0]}}" alt="" class="img-responsive"></div>
            <div class="ribbon sale">
              <div class="theribbon">SALE</div>
              <div class="ribbon-background"></div>
            </div>
            <div class="ribbon new">
              <div class="theribbon">NEW</div>
              <div class="ribbon-background"></div>
            </div>
            <!-- <div class="row product__thumbs">
              <div class="col-xs-4"><a href="img/detailbig1.jpg" class="thumb"><img src="img/detailsmall1.jpg" alt="" class="img-responsive"></a></div>
              <div class="col-xs-4"><a href="img/detailbig2.jpg" class="thumb"><img src="img/detailsmall2.jpg" alt="" class="img-responsive"></a></div>
              <div class="col-xs-4"><a href="img/detailbig3.jpg" class="thumb"><img src="img/detailsmall3.jpg" alt="" class="img-responsive"></a></div>
            </div> -->
          </div>
          <div class="col-sm-3">
            <p class="price">${{Detail.Product.SelectedPrice}}</p>
            <div class="form-group">
              <label for="size">Choose your size</label>
              <select class="form-control" ng-options="s.Size as s.Size for s in Detail.Sizes" ng-model="Detail.Product.DefaultSize" ng-change="Detail.ChangeSize(Detail.Product.DefaultSize)"></select>
            </div>
            <div class="form-group">
              <label for="quantity">Quantity</label>
              <input type="number" ng-model="Detail.Quantity" id="quantity" class="form-control">
            </div>
            <p class="text-center">
              <button class="btn btn-primary" ng-click="Detail.AddToCart()"><i class="fa fa-shopping-cart"></i>&nbsp;Add to cart</button>
              <button type="submit" data-toggle="tooltip" data-placement="top" title="Add to wishlist" class="btn btn-default"><i class="fa fa-heart-o"></i></button>
            </p>
          </div>
        </div> 

        <div class="row"> 
          <div class="col-sm-6 product__details">
            <h4>Product Description</h4>
            <p>{{Detail.Product.Description}}</p>
            <h4>Material & care</h4>
            <ul>
              <li>Canvas</li>
              <li>Half inch wooden frame</li>
            </ul>
            <h4>Sizes</h4>
            <ul>
              <li>Small 8 X 12 inches</li>
              <li>Medium 12 X 18 inches</li>
              <li>Large 24 X 36 inches</li>
            </ul>
          </div>
          <div class="col-sm-6 product__social social">
            <blockquote>
              <p><em>What I mean by 'abstract' is something which comes to life spontaneously through a gamut of contrasts, plastic at the same time as psychic, and pervades both the picture and the eye of the spectator with conceptions of new and unfamiliar elements... (Marc Chagall).</em></p>
            </blockquote>
            <h4>Show it to your friends</h4>
            <p><a href="#" data-animate-hover="pulse" class="external facebook"><i class="fa fa-facebook"></i></a><a href="#" data-animate-hover="pulse" class="external gplus"><i class="fa fa-google-plus"></i></a><a href="#" data-animate-hover="pulse" class="external twitter"><i class="fa fa-twitter"></i></a><a href="#" data-animate-hover="pulse" class="email"><i class="fa fa-envelope"></i></a></p>
          </div>
        </div>
            

      </div>
      <div class="row">
        <div class="col-sm-12">
          <!-- similar products-->
          <section class="products-similar">
            <div class="row">
              <div class="col-md-2 col-sm-12">
                <h3>Similar art</h3>
              </div>
              <!-- product-->
              <div class="col-md-5 col-sm-6" ng-repeat="product in Detail.SimilarProducts | limitTo: 2">
                <div class="product"> 
                  <div class="image"><a href="" ng-click="Detail.SelectSimilar(product)"><img ng-src="http://res.cloudinary.com/dewoxdkgg/image/upload/{{product.Images[0]}}" alt="" class="img-responsive"></a>
                    <!-- <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-default btn-sm">Quick view</a></div> -->
                  </div>
                  <div class="text">
                    <p class="brand"><a href="#"></a></p>
                    <h3> <a href="detail.html">{{product.Title}}</a></h3>
                    <p class="price">${{product.MedPrice}}</p>
                  </div>
                </div>
              </div>
              <!-- /product-->
            </div>
          </section>
          <!-- /similar products-->
        </div>
      </div>
<!--       <div class="row"> Recent Products...
        <div class="col-sm-10 col-sm-offset-1">
          <section>
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <h3>Products viewed recently</h3>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="product"> 
                  <div class="image"><a href="detail.html"><img src="img/product2.jpg" alt="" class="img-responsive"></a>
                    <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-default btn-sm">Quick view</a></div>
                  </div>
                  <div class="text">
                    <p class="brand"><a href="#"></a></p>
                    <h3> <a href="detail.html">Fur coat</a></h3>
                    <p class="price">$143</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="product"> 
                  <div class="image"><a href="detail.html"><img src="img/product3.jpg" alt="" class="img-responsive"></a>
                    <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-default btn-sm">Quick view</a></div>
                  </div>
                  <div class="text">
                    <p class="brand"><a href="#"></a></p>
                    <h3> <a href="detail.html">Fur coat</a></h3>
                    <p class="price">$113</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="product"> 
                  <div class="image"><a href="detail.html"><img src="img/product1.jpg" alt="" class="img-responsive"></a>
                    <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-default btn-sm">Quick view</a></div>
                  </div>
                  <div class="text">
                    <p class="brand"><a href="#"></a></p>
                    <h3> <a href="detail.html">Fur coat</a></h3>
                    <p class="price">$121</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div> -->
    <!-- </div> -->
  <!-- </div> -->
</div>
