<footer class="footer">
  <div class="footer__block">
    <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6">
            <h4>About Sefira Ross</h4>
            <p>Sefira Ross is a professional designer based in Seattle, WA. She designs for Chabad.org, one of the largest Jewish websites in the world. Her art is inspired by biblical and contemperary pieces. Check out her <a style="color: #4fbfa8;" href="http://sefiraross.com">personal portfolio here</a>.</p>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p>
          </div>
          <div class="col-md-4 col-sm-6">
            <h4>Site Map</h4>
            <ul>
              <li><a href="/#/">Home</a></li>
              <li><a href="/#/shop">Shop</a></li>
              <li><a href="/#/detail">Product Detail</a></li>
              <li><a href="/#/contact">Contact</a></li>
              <li><a href="/#/about">About</a></li>
              <li><a href="/#/cart">Shopping Cart + Order process </a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <h4>Popular Categories</h4>
            <ul>
              <li><a href="#">T-Shirts</a></li>
              <li><a href="#">Shirts</a></li>
              <li><a href="#">Jackets</a></li>
              <li><a href="#">Snakes</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-6">
            <h4>Let's be Friends</h4>
            <p class="social"><a href="#" data-animate-hover="pulse" class="external facebook"><i class="fa fa-facebook"></i></a><a href="#" data-animate-hover="pulse" class="external gplus"><i class="fa fa-google-plus"></i></a><a href="#" data-animate-hover="pulse" class="external twitter"><i class="fa fa-twitter"></i></a><a href="#" data-animate-hover="pulse" class="email"><i class="fa fa-envelope"></i></a></p>
          </div>
          <div class="col-md-4 col-sm-6">
            <h4>News and Updates</h4>
            <p>Sign up to get the latest on sales, new releases and more …</p>
            <form class="footer__newsletter">
              <div class="input-group">
                <input type="text" placeholder="Enter your email address" class="form-control"><span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-send"></i></button></span>
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>
  <div class="footer__copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy;2016 Sefira Ross Design Ltd.</p>
        </div>
        <div class="col-md-6">
          <p class="credit pull-right">Theme by <a href="http://leviross.com">Levi Ross</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>