<!DOCTYPE html>
<html lang="en">
<head>
    <title>Levi's Fine Furniture</title>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap-overloads.css">
    <link rel="stylesheet" type="text/css" href="./css/custom.css">
    <link rel="stylesheet" type="text/css" href="./css/simplegrid.css">
    <link rel="stylesheet" type="text/css" href="./css/jquery-ui.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <br />
    <br />
    <div class="text-center">
        <img src="./images/ecommpic2.jpg" />
    </div><br />
    <div ng-app="LoginApp" ng-controller="LoginController">
    <div class="row">
        <div class="well col-sm-4 col-sm-offset-4">
            <form ng-show="Flow == 'Login'" ng-submit="Login()" name="LoginForm">
                <div class="row">
                    <div class="form-group col-sm-12" style="margin-bottom:20px">
                        <label class="control-label">Email</label class="control-label">
                        <input type="email" class="form-control" ng-model="Register.Email" placeholder="Email Address" />
                    </div>
                    <div class="form-group col-sm-12" style="margin-bottom:20px">
                        <label class="control-label">Password</label class="control-label">
                        <input type="password" class="form-control" ng-model="Register.Password" placeholder="Password" />
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-primary">Login</button>
                    </div>
                    <div class="col-sm-7 col-sm-offset-2">
                        <h5>Not a member yet? <a href="#" ng-click="ShowSignUp()">Click here to sign up.</a></h5>
                    </div>
                </div>        
            </form>

            <form ng-show="Flow == 'SignUp'" ng-submit="SignUp()" name="RegistrationForm">
                <div class="row">
                    <div class="form-group col-sm-12" style="margin-bottom:20px">
                        <label class="control-label">First Name</label class="control-label">
                        <input type="text" name="fName" class="custom-validate form-control" ng-model="Register.FirstName" placeholder="First Name" required ng-minlength="2" ng-blur="CheckFirstName()" />
                        <div class="messages" ng-show="!RegistrationForm.fName.$valid && !RegistrationForm.fName.$pristine">Must be at least 2 letters.</div>
                    </div>
                    <div class="form-group col-sm-12" style="margin-bottom:20px">
                        <label class="control-label">Last Name</label class="control-label">
                        <input type="text" name="lName" class="custom-validate form-control" ng-model="Register.LastName" placeholder="Last Name" required ng-minlength="3" ng-blur="CheckLastName()" />
                        <div class="messages" ng-show="!RegistrationForm.lName.$valid && !RegistrationForm.lName.$pristine">Must be at least 3 letters.</div>
                    </div>
                    <div class="form-group col-sm-12" style="margin-bottom:20px">
                        <label class="control-label">Email</label class="control-label">
                        <input type="email" name="email" class="custom-validate form-control" ng-model="Register.Email" placeholder="Email Address" required ng-minlength="7" />
                        <div class="messages" ng-show="!RegistrationForm.email.$valid && !RegistrationForm.email.$pristine">Must be a valid email.</div>
                    </div>
                    <div class="form-group col-sm-12" style="margin-bottom:20px">
                        <label class="control-label">Password</label class="control-label">
                        <input type="password" name="password" class="custom-validate form-control" ng-model="Register.Password" placeholder="Password" required />
                        <div class="messages" ng-show="!RegistrationForm.password.$valid && !RegistrationForm.password.$pristine">Must be at least 8 charachters.</div>
                    </div>
                    <div class="form-group col-sm-12" style="margin-bottom:20px">
                        <label class="control-label">Password</label class="control-label">
                        <input type="password" name="password2" class="custom-validate form-control" ng-model="Register.Password2" placeholder="Re-enter Password" required ng-minlength="8" />
                        <div class="messages" ng-show="Register.Password2 !== Register.Password && !RegistrationForm.password2.$pristine">Must match the first password.</div>
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-primary">SignUp</button>
                    </div>
                    <div class="col-sm-7 col-sm-offset-2">
                        <h5>Already a member? <a href="#" ng-click="ShowLogin()">Click here to login.</a></h5>
                    </div>
                </div>    
            </form>
        </div>
    </div>
    </div>
    <script src="./scripts/angular.min.js"></script>
    <script src="./scripts/ValidationModule.js"></script>
    
    <script>

    var app = angular.module('LoginApp', ['ValidationModule']);

    app.controller('LoginController', ['$scope', '$http', '$location', 'ValidationService', function($scope, $http, $location, ValidationService){

        $scope.Flow = "Login";
        $scope.Register = {
            FirstName: "",
            LastName: "",
            Email: "levross@gmail.com",
            Password: "hh5762",
            Password2: "",
            PasswordsMatch: true
        }
        
        $scope.ShowSignUp = function(){
            $scope.Flow = "SignUp";
        }
        $scope.ShowLogin = function(){
            $scope.Flow = "Login";
        }

        $scope.CheckFirstName = function(){
            $scope.Register.FirstName = ValidationService.Capitalize($scope.Register.FirstName);
        }

        $scope.CheckLastName = function(){
            $scope.Register.LastName = ValidationService.Capitalize($scope.Register.LastName);
        }

        $scope.SignUp = function(){
            var SignUpData = {Email: $scope.Register.Email, FirstName: $scope.Register.FirstName, LastName: $scope.Register.LastName, Password: $scope.Register.Password};

            $http.post('http://localhost:4000/api/users', SignUpData)
                .success(function(user){
                    console.log("New Created User Object\n", user);
                    if(user){
                        var url = 'http://' +location.host + '/#/homepage';
                        //window.location = url;
                    }
                })
                .error(function(err){
                    console.log("Error Registering\n", err);
                });
        }

        $scope.Login = function(){

            var LoginData = {Email: $scope.Register.Email, Password: $scope.Register.Password};
            var url = 'http://' + location.host;
   
            $http.post('http://localhost:4000/api/login', LoginData)
            .then(function(retval){
                console.log(retval);
                //Sending them to our Angular app after we created new session with User. 
                var url = 'http://' + location.host + '/#/homepage'; //?token=' + retval.data.Token; 
 
                sessionStorage.setItem('Token', retval.data);
                var sessionToken = sessionStorage.getItem('Token');
                console.log(sessionToken);
                window.location = url;

            }, function(err){
                console.log(err);
            });
            
        }           
     
    }]); 

    </script>
    
</body>
</html>