<div class="container">
  <!-- <div class="col-md-12">
    <ul class="breadcrumb">
      <li><a href="index.html">Home</a></li>
      <li>CheckOut - Address </li>
    </ul>
  </div> -->
  <div class="row page-top">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>CheckOut - Address</h1>
    </div>
  </div>
  <div id="CheckOut" class="col-md-9">
    <div class="box">
      <form name="CheckOut.CheckOutForm" novalidate>
        <ul class="nav nav-pills nav-justified">
          <li class="active"><a href="#"><i class="fa fa-map-marker"></i><br>Address</a></li>
          <li class="disabled"><a href="#"><i class="fa fa-truck"></i><br>Delivery Method</a></li>
          <li class="disabled"><a href="#"><i class="fa fa-money"></i><br>Payment Method</a></li>
          <li class="disabled"><a href="#"><i class="fa fa-eye"></i><br>Order Review</a></li>
        </ul>
        <div class="content">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="firstname">Firstname</label>
                <input type="text" name="FirstName" id="FirstName" class="form-control" ng-blur="CheckOut.Capitalize('FirstName')" ng-model="CheckOut.CheckOutObj.FirstName">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="lastname">Lastname</label>
                <input type="text" name="LastName" id="LastName" class="form-control" ng-blur="CheckOut.Capitalize('LastName')" ng-model="CheckOut.CheckOutObj.LastName">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="Company">Company</label>
                <input type="text" name="Company" id="Company" class="form-control" ng-blur="CheckOut.Capitalize('Company')" ng-model="CheckOut.CheckOutObj.Company">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="Street">Street</label>
                <input type="text" name="Street" id="Street" class="form-control" ng-blur="CheckOut.Capitalize('Street')" ng-model="CheckOut.CheckOutObj.Street">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-3">
              <div class="form-group">
                <label for="City">City</label>
                <input type="text" name="City" id="City" class="form-control" ng-blur="CheckOut.Capitalize('City')" ng-model="CheckOut.CheckOutObj.City">
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="form-group">
                <label for="State">State</label>
                <input type="text" name="State" id="State" class="form-control" ng-blur="CheckOut.Capitalize('State')" ng-model="CheckOut.CheckOutObj.State" ng-minlength="2" ng-maxlength="2">
                <div class="messages" ng-show="!CheckOut.CheckOutForm.State.$valid && !CheckOut.CheckOutForm.State.$pristine">Enter 2 letter state code.</div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="form-group">
                <label for="ZIP">ZIP</label>
                <input type="text" name="Zip" id="Zip" class="form-control" ng-model="CheckOut.CheckOutObj.Zip">
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="form-group">
                <label for="Country">Country</label>
                <input type="text" name="Country" id="Country" class="form-control" ng-model="CheckOut.CheckOutObj.Country" ng-disabled="true">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="Telephone">Telephone</label>
                <input type="text" name="Phone" id="Telephone" class="form-control" ng-blur="CheckOut.ParsePhone()" ng-model="CheckOut.CheckOutObj.Phone" ng-minlength="10">
                <div class="messages" ng-show="!CheckOut.CheckOutForm.Phone.$valid && !CheckOut.CheckOutForm.Phone.$pristine">Must be 10 digit phone #.</div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" name="Email" id="Email" class="form-control" ng-minlength="7" ng-model="CheckOut.CheckOutObj.Email">
                <div class="messages" ng-show="!CheckOut.CheckOutForm.Email.$valid && !CheckOut.CheckOutForm.Email.$pristine">Must be a valid email.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="box-footer">
          <div class="pull-left"><a href="/#/shopping-cart" class="btn btn-default"><i class="fa fa-chevron-left"></i>Back to basket</a></div>
          <div class="pull-right">
            <button class="btn btn-primary" ng-click="CheckOut.SaveCheckOut()" ng-disabled="CheckOut.CheckOutForm.$invalid">Continue to Payment Method<i class="fa fa-chevron-right"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-3">
    <div id="order-summary" class="box black-white">
      <div class="box-header">
        <h3>Order summary</h3>
      </div>
      <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr>
              <td>Number of Items</td>
              <th>{{CheckOut.CartObj.Count}}</th>
            </tr>
            <tr>
              <td>Order subtotal</td>
              <th>{{CheckOut.CartObj.SubTotal | currency}}</th>
            </tr>
            <tr>
              <td>Shipping and handling</td>
              <th>{{CheckOut.CartObj.Shipping}}</th>
            </tr>
            <tr>
              <td>(WA State) Tax</td>
              <th>{{CheckOut.CartObj.TaxTotal | currency}}</th>
            </tr>
            <tr class="total">
              <td>Total</td>
              <th>{{CheckOut.CartObj.GrandTotal | currency}}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
