<div ng-controller="CategoryController as Category">
	<div class="panel panel-default padded-panel" ng-show="Admin.Tab === 1">
		<h4 class="admin-h4">Categories</h4>
		<div class="add-button col-md-1 col-md-offset-11" ng-show="Category.DisplayMode === 'list'">
	    <button class="btn btn-success" ng-click="Category.AddCategory()">
	       <span class="glyphicon glyphicon-plus"></span>
	    </button>
		</div>
		<table class="table table-hover" ng-show="Category.DisplayMode === 'list'">
			<thead>
				<tr>
					<th>Name</th>
					<th>Count</th>
					<th>Types</th>
					<th>Edit</th>
					<th>Types</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="category in Category.Categories track by $index">
					<td>{{category.Name}}</td>
					<td>{{category.Count}}</td>
					<td>{{category.Types}}</td>
					<td><button type="button" class="btn btn-warning" ng-click="Category.EditCategory(category, $index)"><span class="glyphicon glyphicon-pencil"></span></button></td>
					<td><button type="button" class="btn btn-danger" ng-click="Category.DeleteCategory(category, $index)"><span class="glyphicon glyphicon-trash"></span></button></td>
				</tr>
			</tbody>
		</table>
		<div ng-show=" Category.DisplayMode == 'edit' || Category.DisplayMode == 'create' ">
			<form name="Category.CategoryForm" class="validated-form">
				<br />
				<div class="row">
					<div class="col-md-1">
						<label class="control-label">Name</label>
					</div>
					<div class="col-md-5">
						<input name="name" type="text" class="custom-validate form-control" placeholder="Category Name" ng-model="Category.Name" ng-minlength="3" required />
					</div>
					<div class="col-md-1">
						<label class="control-label">Types</label>
					</div>
					<div class="col-md-5">
						<input name="types" type="text" class="custom-validate form-control" placeholder="Enter in a comma after each type" ng-model="Category.Types" required />
					</div>
				</div><br />
				<div class="row">
					<div class="col-md-1">
						<label class="control-label">Total Count</label>
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" ng-model="Category.Count" required />
					</div>
				</div>
				<br />
				<div class="col-md-offset-9">
	        <button type="button" class="btn btn-default" ng-click="Category.BackToCategories()">Cancel</button>
	        <button ng-show=" Category.DisplayMode == 'edit' " type="submit" class="btn btn-primary" ng-disabled="!Category.CategoryForm.$valid" ng-click="Category.UpdateCategory()">Update</button>
	        <button ng-show=" Category.DisplayMode == 'create' " type="submit" class="btn btn-primary" ng-disabled="Category.CategoryForm.$invalid || Category.CategoryForm.name.$pristine || Category.CategoryForm.types.$pristine" ng-click="Category.CreateNewCategory()">Create</button>
		    </div>
			</form>	
			<br />
		</div>	
	</div>
</div>
