<div ng-controller="ProductController as Product">
	<div class="panel panel-default padded-panel" ng-show="Admin.Tab === 2">
		<h4 class="admin-h4">Products</h4>
		<div class="add-button col-md-1 col-md-offset-11" ng-show="Product.DisplayMode === 'list'">
		</div>
		<table class="table table-hover" ng-show="Product.DisplayMode === 'list'">
			<thead>
				<tr>
					<th>Title</th>
					<th>Prices</th>
					<th>Default Size</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="product in Product.Products track by $index">
					<td>{{product.Title}}</td>
					<td>${{product.SmallPrice}}-{{product.MedPrice}}-{{product.LargePrice}}</td>
					<td>{{product.DefaultSize}}</td>
					<td><button type="button" class="btn btn-warning" ng-click="Product.EditProduct(product, $index)"><span class="glyphicon glyphicon-pencil"></span></button></td>
					<td><button type="button" class="btn btn-danger" ng-click="Product.DeleteProduct(product, $index)"><span class="glyphicon glyphicon-trash"></span></button></td>
				</tr>
			</tbody>
		</table>
		<div ng-show=" Product.DisplayMode == 'edit' || Product.DisplayMode == 'create' ">
			<form name="ProductForm">
				<div class="row">
					<div class="col-md-6">
						<label class="control-label">Title</label>
						<input type="text" class="form-control" ng-model="Product.Title" placeholder="Product Title" required />
					</div>
					<div class="col-md-3">
						<label class="control-label">Category</label>
						<select class="form-control" ng-options="c.Name as c.Name for c in Product.Categories" ng-model="Product.Category"></select>
					</div>
					<div class="col-md-3">
						<label class="control-label">Default Size</label>
						<select class="form-control" ng-options="s.Size as s.Size for s in Product.Sizes" ng-model="Product.DefaultSize"></select>
					</div>
				</div><br />
				<div class="row">
					<div class="col-md-4">
						<img ng-src='http://res.cloudinary.com/dewoxdkgg/image/upload/h_165,w_285/{{Product.Images[0]}}' />
						<label class="control-label">Change Image</label>
						<input name="imageVariable" fileread="Product.Image1" type="file" class="form-control" />
						<button class="btn btn-warning" ng-click="Product.DeleteImage(0)">Delete</button>
					</div>
					<div class="col-md-4">
						<img ng-show="Product.Images.length > 1" ng-src='http://res.cloudinary.com/dewoxdkgg/image/upload/h_165,w_285/{{Product.Images[1]}}' />
						<label class="control-label">Change/Add Image</label>
						<input name="Image1" fileread="Product.Image2" type="file" class="form-control" />
						<button class="btn btn-warning" ng-click="Product.DeleteImage(1)">Delete</button>
					</div>
					<div class="col-md-4">
						<img ng-show="Product.Images.length == 3" ng-src='http://res.cloudinary.com/dewoxdkgg/image/upload/h_165,w_285/{{Product.Images[2]}}' />
						<label class="control-label">Change/Add Image</label>
						<input name="imageVariable" fileread="Product.Image3" type="file" class="form-control" />
						<button class="btn btn-warning" ng-click="Product.DeleteImage(2)">Delete</button>
					</div>
				</div><br />
				<div class="row">
					<div class="col-md-6">
						<label class="control-label">Description</label>
						<textarea class="form-control" rows="4" placeholder="Description..." ng-model="Product.Description" ng-minlength="50"></textarea>
					</div>
					<div class="col-md-2">
						<label class="control-label">Size</label>
						<input type="text" name="size" class="form-control" ng-model="Product.SmallPrice" placeholder="$ Small" />
					</div>
					<div class="col-md-2">
						<label class="control-label">Size</label>
						<input type="text" name="size" class="form-control" ng-model="Product.MedPrice" placeholder="$ Med" />
					</div>
					<div class="col-md-2">
						<label class="control-label">Size</label>
						<input type="text" name="size" class="form-control" ng-model="Product.LargePrice" placeholder="$ Large" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-8">
						<button class="btn btn-default" ng-click="Product.Cancel()">Cancel</button>
					</div>
					<div class="col-md-2">
						<button type="submit" class="btn btn-primary" ng-click="Product.UpdateProduct()">Update</button>
					</div>
				</div>	   
			</form>	
			<br />
		</div>	
	</div>
</div>