<div ng-controller="UserController as User">	
	<div class="panel panel-default" ng-show="Admin.Tab === 0">
		<h4 class="admin-h4">Users</h4>
		<div class="add-button col-md-1 col-md-offset-11" ng-show="User.DisplayMode === 'list'">
		    <button class="btn btn-success" ng-click="User.NewUser()">
		        <span class="glyphicon glyphicon-plus"></span>
		    </button>
		</div>
		<table class="table table-hover" ng-show="User.DisplayMode === 'list'">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in User.AllUsers">
					<td>{{user.FirstName}}</td>
					<td>{{user.LastName}}</td>
					<td>{{user.Email}}</td>
					<td><button type="button" class="btn btn-warning" ng-click="User.EditUser(user, $index)"><span class="glyphicon glyphicon-pencil"></span></button></td>
					<td><button type="button" class="btn btn-danger" ng-click="User.DeleteUser(user, $index)"><span class="glyphicon glyphicon-trash"></span></button></td>
				</tr>
			</tbody>
		</table>
		<div class="container-fluid" ng-show="User.DisplayMode == 'edit'">
			<form name="User.UserForm" class="validated-form">
				<br />
				<div class="row">
					<label class="control-label col-md-1">First Name</label>
					<div class="col-md-5">
						<input type="text" class="custom-validate form-control" placeholder="First Name" ng-model="User.FirstName" ng-blur="User.CheckFirstName()" ng-minlength="2" required />
					</div>
					<label class="control-label col-md-1">Last Name</label>
					<div class="col-md-5">
						<input type="text" class="custom-validate form-control" placeholder="Last Name" ng-model="User.LastName" ng-blur="User.CheckLastName()" ng-minlength="2" required />
					</div>
				</div>
				<br />
				<div class="row">
					<label class="control-label col-md-1">Email</label>
					<div class="col-md-5">
						<input type="email" class="custom-validate form-control" placeholder="Email" ng-model="User.Email" required />
					</div>
					<div class="col-md-4 col-md-offset-2" ng-hide="User._id == null">
						<p ng-hide="User.ShowChangePassword">Click <a href="" ng-click="User.ToggleChangePassword()">here</a> to change the password.</p>
						<p ng-show="User.ShowChangePassword">Click <a href="" ng-click="User.ToggleChangePassword()">here</a> to hide the password fields.</p>
					</div>
				</div><br />
				<div class="row" ng-show="User._id == null">
					<label class="control-label col-md-1">Admin</label>
					<select class="large-select col-md-2" ng-model="User.IsAdmin" ng-options="type.id as type.name for type in User.UserTypes">
					</select>
				</div><br />
				<div class="row" ng-show="User.ShowChangePassword">
					<label class="control-label col-md-1">Pass</label>
					<div class="col-md-5">
						<input name="Password1" type="password" class="custom-validate form-control" placeholder="New Password" ng-model="User.Password1" ng-minlength="6" />
						<div class="messages" ng-show="!User.UserForm.Password1.$valid && !User.UserForm.Password1.$pristine">Must be at least 8 charachters.</div>
					</div>
					<label class="control-label col-md-1">Pass</label>
					<div class="col-md-5">
						<input name="Password2" type="password" class="custom-validate form-control" placeholder="Confirm New Password" ng-model="User.Password2" ng-minlength="6" />
						<div class="messages" ng-show="User.Password2 !== User.Password1 && !User.UserForm.Password2.$pristine">Must match the first password.</div>
					</div>	
				</div><br />
				<div class="col-md-offset-9">
		            <button type="button" class="btn btn-default" ng-click="User.BackToUsers()">Cancel</button>
		            <button ng-show="User._id != null" type="button" class="btn btn-primary" ng-disabled="!User.UserForm.$valid" ng-click="User.UpdateUser()">Update</button>
		            <button ng-show="User._id == null" type="button" class="btn btn-primary" ng-disabled="User.UserForm.$invalid || User.UserForm.Password1.$pristine || User.UserForm.Password2.$pristine" ng-click="User.CreateUser()">Create</button>
		        </div>
			</form>	
			<br />
		</div>	
	</div>
</div>
